.footer {
    min-height: 185px;
    background-color: #f5f5f5;
    background-image: url(../images/mount-footer.png);
    background-repeat: no-repeat;
    background-position: center -40px;
    display: flex;
    @media(max-width: 768px) {
        min-height: 245px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        @media(max-width: 768px) {
            flex-direction: column;
            padding-top: 20px;
            justify-content: start;
        }
    }
    &__logo {
        flex: 0 0 120px;
        height: 74px;
        @media(max-width: 768px) {
            max-width: 120px;
            flex: 0 0 auto;
            margin-bottom: 35px;
        }
    }
    &__img {
        max-width: 100%;
        object-fit: cover;
        height: auto;
    }
    &__cop {
        color: var(--title-color);
        font-size: 16px;
        font-weight: 400;
        align-self: flex-end;
        margin-bottom: 7px;
        @media(max-width: 768px) {
            align-self: auto;
            flex-grow: 1;
            display: flex;
            align-items: flex-end;
        }
        @media(max-width: 414px) {
            font-size: 14px;
        }
    }
}