body {
    font-family: $default-font;
    font-display: swap;
    color: $mainColor;
    a {
        color: $mainColor;
    }
}

main {
    min-height: $minHeightMain;
}

.hidden {
    overflow: hidden;
}

.container,
.wrapper-big,
.wrapper-min {
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: calc(#{$content-width} + 20px);
    padding: 0 10px;
    @media(max-width: 768px) {
        padding: 0 24px;
    }
}

.wrapper-big {
    max-width: 970px;
}

.wrapper-min {
    max-width: 770px;
    @media(max-width: 768px) {
        max-width: 570px;
    }
}

.logo {
    &__img {
        max-width: 100%;
    }
}

.default-text {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    transition: .3s;
    @media(max-width: 768px) {
        font-size: 13px;
        line-height: 22px;
    }
    &--white {
        color: var(--submain-color);
    }
    &--hidden {
        opacity: 0;
    }
    &--gray {
        color: #656971;
    }
    &--big {
        font-size: 17px;
    }
}

.title-type-1 {
    font-family: var(--fonts-gotham-pro-black);
    font-size: 22px;
    text-transform: uppercase;
    @media(max-width: 768px) {
        font-size: 20px;
    }
    @media(max-width: 414px) {
        font-size: 18px;
    }
    &--green {
        color: var(--site-color);
    }
    &--white {
        color: var(--submain-color);
    }
}

.title-type-2 {
    color: var(--title-color);
    font-family: var(--fonts-gotham-pro-black);
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    @media(max-width: 414px) {
        font-size: 40px;
    }
    &__span {
        color: var(--submain-color);
        position: relative;
        z-index: 2;
        &--green {
            &::after {
                box-shadow: 0 14px 29px rgba(66, 204, 106, 0.68);
                background-color: var(--site-color);
            }
        }
        &--yellow {
            &::after {
                box-shadow: 0 14px 29px rgba(159, 125, 35, 0.68);
                background-color: #ca9a2c;
            }
        }
        &::after {
            content: '';
            position: absolute;
            width: 130px;
            height: 63px;
            left: -20px;
            top: 0;
            z-index: -1;
            border-radius: 20px 0 0 20px;
            @media(max-width: 414px) {
                width: 100px;
                height: 50px;
                left: -10px;
                top: -8px;
            }
        }
    }
}

.subtitle {
    color: #656971;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    position: relative;
    &::after {
        position: absolute;
        content: '';
        width: 70px;
        height: 3px;
        background-color: #cccccc;
        bottom: -35px;
        left: 0;
        @media(max-width: 950px) {
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}